# Exclude build/test files from archive
/.circleci        export-ignore
/tests            export-ignore
/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/phpcs.xml        export-ignore
/phpunit.xml      export-ignore
/rector.php       export-ignore

# Configure diff output for .php and .phar files.
*.php diff=php