<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         verbose="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
  <php>
    <!-- Don't fail for external dependencies. -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
  </php>
  <testsuites>
    <testsuite name="all">
      <directory>test</directory>
    </testsuite>
  </testsuites>
</phpunit>
